*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    color: whitesmoke;
}
h3{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
h4{
    color: whitesmoke;
}
p{
    color: whitesmoke;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}
button {
    background: none;        /* Убирает фоновый цвет */
    border: none;            /* Убирает границу */
    padding: 0;              /* Убирает внутренние отступы */
    margin: 0;               /* Убирает внешние отступы */
    font: inherit;           /* Унаследовать шрифт от родителя */
    color: inherit;          /* Унаследовать цвет текста */
    cursor: pointer;         /* Изменяет курсор на указатель */
    outline: none;           /* Убирает обводку при фокусе */
}
